/* about */
.button {
  margin-top: 10%;
}

a {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  position: relative;
}

a {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
}


a:hover {
  width: 200px;
  border: 3px solid #8400ff;
  background: transparent;
  color: #8400ff;
}

a:hover {
  border: 3px solid #8400ff;
  right: -25%;
}

#games:hover {
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

#games:hover {
  border: 3px solid #2ecc71;
  right: -25%;
}

h5 {
  margin-bottom: 0%;

}