body {
    background-color: #333;
}

.img {
    color: white;
    text-align: center;
}

img {
    border-radius: 30%;
    border: 5px solid white;
}

a {
    color: rgb(0, 255, 98);
    text-decoration: none;
    transition: 2s;
    font-family: 'Lato', sans-serif;
}

a:hover {
    color: rgb(255, 17, 0);
    transition: 0.7s;
}

h5 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
}

h5 {
    line-height: 0.0;
}