.header {
    text-align: center;

}

h1 {
    text-shadow: #FC0 1px 0 10px;
    color: white;
    font-family: 'Lato', sans-serif;
}

h3 {
    color: white
}

h5 {
    color: white;

}

a {
    color: rgb(0, 255, 98);
    text-decoration: none;
    transition: 2s;
}

a:hover {
    color: rgb(255, 17, 0);
    transition: 0.7s;
}